<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--Обязательные Настройки-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider
        </property>
<!--        При выполнении Main.java просит установить свойство ниже вместо предыдущего. Устанавливаю - вообще не работает-->
        <!--<property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider-->
<!--        </property>-->
        <property name="hibernate.hikari.dataSource.url">jdbc:mysql://localhost:3306/javafx?serverTimezone=UTC
        </property>
        <property name="hibernate.hikari.dataSource.user">root</property>
        <property name="hibernate.hikari.dataSource.password">qwa12345</property>
        <property name="hibernate.hikari.dataSourceClassName">com.mysql.cj.jdbc.MysqlDataSource</property>
        <property name="hibernate.hikari.dataSource.cachePrepStmts">true</property>
        <property name="hibernate.hikari.dataSource.prepStmtCacheSize">250</property>
        <property name="hibernate.hikari.dataSource.prepStmtCacheSqlLimit">2048</property>
        <property name="hibernate.hikari.dataSource.useServerPrepStmts">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!--Дополнительные Настройки-->
        <property name="hikari.maximumPoolSize">30</property>
        <property name="hikari.connectionTimeout">10000</property>
<!--        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>-->

        <!--Для подключения Кеша 2-го уровня или подключения Кеша запросов подключаем
        интерфейс "JCache" с реализацией "ehcache"-->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.JCacheRegionFactory</property>
        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>
        <property name="hibernate.cache.use_query_cache">true</property> <!--разрешаем Кеш запросов-->

        <mapping class="org.example.Employee"/>
        <mapping class="org.example.EmployeeUUID"/>
        <mapping class="org.example.University"/>
        <mapping class="org.example.University2"/>
    </session-factory>
</hibernate-configuration>

